<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><div style="max-width: 500px; max-height:150px"><img style="object-fit: contain;" src="/images/tumblr/santa-cruz.webp"></div></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/nft/">nfts</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/static/dragon-breath/">dragon breath</a></li>

    </ul>
  </nav>

</header>
